<script>
  import { onMount } from "svelte";
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";
  import Settings from "./_settings.svelte";

  let settings;
  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame("love-letter", settings);
    waiting = false;

    if (game) {
      goto(`/games/love-letter/?id=${game.id}`);
    }
  }
</script>

<svelte:head>
  <title>Create game - Love Letter - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <Settings on:change={(event) => (settings = event.detail)} />
  <button class="primary" disabled={waiting}>Create game</button>
</form>
