<script>
  import { stores } from "@sapper/app";
  import { getGameStore, getUserStore, performAction } from "../../../stores";
  import { writable } from "svelte/store";
  import GameChat from "../_GameChat";

  let { page } = stores();
  $: gameId = parseInt($page.query.id);
  const gameType = "tichu";

  let user = getUserStore();

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);

  $: game = $gameStore && $gameStore.data;
  $: settings = $gameStore && $gameStore.settings;
  $: state = $gameStore && $gameStore.state;
</script>

<style>
  .wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .game {
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    overflow: auto;
    flex: 5 5;
    min-width: 32em;
    position: relative;
  }

  .aside {
    height: 100%;
    min-width: 20em;
    flex: 1 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 49% 1fr;
    grid-row-gap: 0.5em;
  }
</style>

<svelte:head>
  <title>Tichu #{gameId} - Gamesite 6</title>
</svelte:head>

{#await import('./_component')}
  <p>Loading game assets</p>
{:then}
  {#if game && settings && state}
    <div class="wrapper">
      <div class="game">
        <gs6-games-tichu
          user-id={$user && $user.id}
          {settings}
          {state}
          on:action={(event) => {
            let action = event.detail;
            performAction(gameId, gameType, action);
          }} />
      </div>

      <div class="aside">
        <gs6-games-tichu-reference />
        <div class="chat">
          <GameChat {gameType} {gameId} />
        </div>
      </div>

    </div>
  {/if}

{:catch}
  <p>Loading failed</p>
{/await}
