<script>
  import { onMount } from "svelte";
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";

  let settings = { goal: 16 }; // TODO option to change goal
  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame("fox-in-the-forest", settings);
    waiting = false;

    if (game) {
      goto(`/games/fox-in-the-forest/?id=${game.id}`);
    }
  }
</script>

<svelte:head>
  <title>Create game - The Fox in the Forest - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <button class="primary" disabled={waiting}>Create game</button>
</form>
