<script>
  import Chip from "./icons/Chip.svelte";
  export let value;
  export let inline = false;
  export let chips = 0;

  function getStyle(cardValue) {
    let idx = cardValue - 3;
    let hue = (185 - (360 / 38) * idx) % 360;
    let lightness = 60;
    if (cardValue > 31) {
      lightness -= (cardValue - 31) * 5;
    }

    let centerLightness = lightness + 5;
    let outerLightness = lightness - 15;

    return `background: radial-gradient(hsl(${hue},70%,${centerLightness}%), hsl(${hue},70%,${outerLightness}%))`;
  }
</script>

<style>
  .wrapper {
    background-color: linen;
    position: relative;
    width: 10em;
    height: 14em;
    border-radius: 7% / 5%;
  }

  .inner {
    border-radius: inherit;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 7%;
    right: 7%;

    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 17% 1fr 17%;
    justify-items: center;
  }

  .value {
    font-weight: 600;
    color: linen;
    text-shadow: 0.03em 0.03em 0.07em rgba(31, 31, 31, 0.5),
      -0.03em 0.03em 0.07em rgba(31, 31, 31, 0.5),
      -0.03em -0.03em 0.07em rgba(31, 31, 31, 0.5),
      0.03em -0.03em 0.07em rgba(31, 31, 31, 0.5);
  }

  .corner.value {
    font-size: 1.6em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .center.value {
    align-self: center;
    font-size: 4em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .chips {
    position: absolute;
    bottom: 0.33em;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    text-align: center;

    font-size: 1.5em;
    font-weight: 500;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    border-radius: 1.5em;
  }
  .inline {
    padding: 0.25em;
    border-radius: 4px;
  }
</style>

{#if inline}
  <strong class="inline value" style={getStyle(value)}>{value}</strong>
{:else}
  <div class="wrapper shadow">
    <div class="inner" style={getStyle(value)}>
      <div class="corner value">{value}</div>
      <div class="center value">{value}</div>

      {#if chips > 0}
        <div class="chips">
          <div>
            <Chip />
            &nbsp;× {chips}
          </div>
        </div>
      {/if}
    </div>

  </div>
{/if}
