<script>
  import CardBack from "./CardBack";

  export let size;

  $: renderedSize = Math.min(size, 10);
</script>

<style>
  .deck {
    position: relative;
  }
  .deck > *:first-child {
    position: relative;
    height: 14em;
  }
  .deck > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .size-wrapper {
    top: -14em;
    position: relative;
    height: 14em;
    width: 10em;
  }
  .size {
    height: 1em;
    font-size: 2em;

    background-color: white;
    padding: 0.25em 0.5em;
    border-radius: 1em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
    overflow-x: visible;
    display: flex;

    align-items: center;
  }
</style>

<div class="deck">
  {#each [...Array(renderedSize).keys()] as x, idx}
    <div style={`transform: translate(-${x * 0.12}em, -${x * 0.12}em);`}>
      <CardBack />
      {#if idx === renderedSize - 1}
        <div class="size-wrapper">
          <div class="size">× {size}</div>
        </div>
      {/if}
    </div>
  {/each}
</div>
