<style>
  .wrapper {
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    width: 10em;
    height: 14em;
    border-radius: 7% / 5%;

    border: 1em dashed grey;
    filter: opacity(0.5);
  }
</style>

<div class="wrapper" />
