<script>
  import InProgress from "../InProgress.svelte";
  import Chip from "./icons/Chip.svelte";
  import Card from "./Card";
  import EmptyCardSpot from "./EmptyCardSpot";
  import CardBack from "./CardBack";
  import Deck from "./Deck";
  import Stack from "./Stack";
  import PlayerBox from "../PlayerBox";
  import PlayerStacks from "./PlayerStacks";
  import Results from "./Results";
  import orderPlayers from "../../../util/order-players";
  import { isActing } from "./actionUtils";
  import { performAction } from "../../../stores";
  import Speech from "./Speech.svelte";

  export let userId;
  export let settings;
  export let state;
  export let game;

  let _settings = settings;

  $: player = userId && state.players.find(p => p.id === userId);
  $: orderedPlayers = orderPlayers(state.players, userId);

  function getPlayerTransform(idx) {
    let rotate = 180 + (360 / orderedPlayers.length) * idx;
    return `transform: translate(-50%, -50%) translateY(-5em) rotate(${rotate}deg) translateY(-18em) rotate(${-rotate}deg)`;
  }

  function handleDeckClick() {
    performAction(game.id, game.game_type, { draw: null });
  }
  function handleCardClick() {
    performAction(game.id, game.game_type, { take: null });
  }
  function handleChipClick() {
    performAction(game.id, game.game_type, { pass: null });
  }
</script>

<style>
  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 50em;
  }

  .center {
    font-size: 0.75em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
  }
  .deck {
    margin-right: 1em;
  }

  .players {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .player {
    position: absolute;
    transform-origin: center;
  }
  .chips {
    font-size: 1.2em;
    height: 2em;
    line-height: 1.5em;
    font-weight: 500;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }
  .player-stacks {
    font-size: 0.3em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  button.card-button {
    width: 100%;

    transition: transform 0.25s;

    text-align: inherit;
    line-height: inherit;
    font-size: inherit;
    background-color: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .results {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: opacity(0.3);
  }
  .results:hover,
  .results:focus-within {
    filter: opacity(1);
  }
</style>

<InProgress>
  <div class="wrapper">

    <div class="center">
      <div class="deck">
        {#if isActing(state.phase, userId)}
          <button class="card-button" on:click={handleDeckClick}>
            <Deck size={state.deck.length} />
          </button>
        {:else}
          <Deck size={state.deck.length} />
        {/if}
      </div>
      <div class="card">
        {#if state.card}
          {#if isActing(state.phase, userId)}
            <button class="card-button" on:click={handleCardClick}>
              <Card value={state.card} chips={state.chips} />
            </button>
          {:else}
            <Card value={state.card} chips={state.chips} />
          {/if}
        {:else}
          <EmptyCardSpot />
        {/if}
      </div>
    </div>

    <div class="players">
      {#each orderedPlayers as player, idx}
        <div class="player" style={getPlayerTransform(idx)}>
          <PlayerBox
            thinking={isActing(state.phase, player.id)}
            speaking={player.id !== userId && player.speech}
            userId={player.id}>
            {#if player.id === userId}
              {#if state.phase.choose && isActing(state.phase, userId)}
                <button class="secondary" on:click={handleChipClick}>
                  <div class="chips">
                    <Chip />
                    &nbsp× {player.chips}
                  </div>
                </button>
              {:else}
                <div class="chips">
                  <Chip />
                  &nbsp× {player.chips}
                </div>
              {/if}
            {/if}
            <div class="player-stacks">
              <PlayerStacks {player} />
            </div>

            <div slot="speech">
              <Speech speech={player.speech} />
            </div>
          </PlayerBox>

        </div>
      {/each}
    </div>

    {#if state.phase === 'gameComplete'}
      <div class="results panel border shadow">
        <Results players={state.players} />
      </div>
    {/if}
  </div>

  <div slot="reference">
    <div class="panel border shadow">Reference</div>
  </div>

  <div slot="chat">
    <slot name="chat" />
  </div>

</InProgress>
