<script>
  import Stack from "./Stack.svelte";
  import groupAdjacentBy from "../../../util/group-adjacent";
  export let player;

  let reverseSortedCards;
  $: {
    reverseSortedCards = [...player.cards];
    reverseSortedCards.reverse();
  }

  let stacks;
  $: {
    stacks = groupAdjacentBy({
      predicate(acc, prev, a) {
        return Math.abs(prev - a) < 2;
      },
      initGroup(a) {
        return [a];
      },
      combine(acc, a) {
        acc.push(a);
        return acc;
      }
    })(reverseSortedCards);
    stacks.reverse();
  }
</script>

<style>
  .stacks {
    display: flex;
    flex-wrap: nowrap;
  }
  .stack {
    margin: 0.25em;
  }
</style>

<div class="stacks">
  {#each stacks as cards}
    <div class="stack">
      <Stack {cards} />
    </div>
  {/each}
</div>
