<script>
  import InlineUser from "../../InlineUser.svelte";

  export let players;

  function cardPoints(player) {
    return player.cards
      .filter(card => !player.cards.includes(card - 1))
      .reduce((a, b) => a + b, 0);
  }

  function score(player) {
    return -cardPoints(player) + player.chips;
  }

  let sortedPlayers;
  $: {
    sortedPlayers = [...players];
    sortedPlayers.sort((a, b) => score(b) - score(a));
  }

  function rank(player) {
    let playerScore = score(player);
    let betterPlayers = players.filter(p => score(p) > playerScore).length;
    return betterPlayers + 1;
  }
</script>

<style>
  th,
  td {
    padding: 1rem;
    white-space: nowrap;
  }
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
  }
  table td,
  table th {
    border-top: 0.1rem solid rgb(206, 206, 206);
  }

  .rank {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
  }
  .total {
    font-weight: bold;
  }
</style>

<table>
  <thead>
    <tr>
      <th />
      <th />
      <th>Cards</th>
      <th>Chips</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {#each sortedPlayers as player}
      <tr>
        <td class="rank">
          {#if rank(player) === 1}
            <span class="emoji">🥇</span>
          {:else if rank(player) === 2}
            <span class="emoji">🥈</span>
          {:else if rank(player) === 3}
            <span class="emoji">🥉</span>
          {:else}{rank(player)}{/if}

        </td>
        <td>
          <InlineUser userId={player.id} />
        </td>
        <td>− {cardPoints(player)}</td>
        <td>+ {player.chips}</td>
        <td class="total">
          =
          {#if score(player) < 0}−{/if}
          {Math.abs(score(player))}
        </td>
      </tr>
    {/each}
  </tbody>

</table>
