<script>
  import Card from "./Card.svelte";
  import Chip from "./icons/Chip.svelte";

  export let speech;
</script>

{#if speech === 'no'}
  No thanks!
{:else if speech.yes}
  Yes, please! I'll take the
  <Card inline value={speech.yes.card} />
  with
  <strong>{speech.yes.chips}</strong>
  <Chip />
  .
{/if}
