<script>
  import Card from "./Card.svelte";
  export let cards;
</script>

<style>
  .card {
    transition: transform 0.25s;
  }
  .card:not(:first-child) {
    margin-top: -11em;
  }

  .wrapper:hover > .card:not(:first-child) {
    transform: translateY(9em);
  }
</style>

<div class="wrapper">
  {#each cards as value (value)}
    <div class="card">
      <Card {value} />
    </div>
  {/each}
</div>
