<script>
  import { stores } from "@sapper/app";
  import { getGameStore, getUserStore, performAction } from "../../../stores";
  import { writable } from "svelte/store";
  import GameChat from "../_GameChat.svelte";

  import Game from "@gamesite6/hanabi/src/Game.svelte";
  import Reference from "@gamesite6/hanabi/src/Reference.svelte";

  const gameType = "hanabi";

  let { page } = stores();
  $: gameId = parseInt($page.query.id);

  let user = getUserStore();

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);

  $: game = $gameStore && $gameStore.data;
  $: settings = $gameStore && $gameStore.settings;
  $: state = $gameStore && $gameStore.state;
</script>

<style>
  .wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .game {
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    overflow: auto;
    flex: 5 5;
    min-width: 32em;
  }

  .aside {
    height: 100%;
    min-width: 20em;
    flex: 1 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 49% 1fr;
    grid-row-gap: 0.5em;
  }
</style>

<svelte:head>
  <title>Love Letter #{gameId} - Gamesite 6</title>
</svelte:head>

{#if game && settings && state}
  <div class="wrapper">

    <div class="game">
      <Game
        userId={$user && $user.id}
        {settings}
        {state}
        on:action={(event) => {
          let action = event.detail;
          performAction(gameId, gameType, action);
        }} />
    </div>

    <div class="aside">
      <Reference {settings} />
      <div class="chat">
        <GameChat {gameType} {gameId} />
      </div>
    </div>

  </div>
{/if}
