* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
}

body {
  background-color: rgb(245, 243, 239);
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  word-break: break-all;
}

button.primary,
button.secondary {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0.05rem;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.75em 1.5em;
  font-size: inherit;
  font-family: inherit;
}

button.small {
  padding: 0.33em 1em;
  margin-top: -0.33em;
  margin-bottom: -0.33em;
}

button.link {
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
  font-weight: inherit;
  padding: 0;
}

button.primary {
  background-color: rgb(109, 158, 204);
  color: white;
}
button.primary:hover:not(:disabled) {
  background-color: rgb(89, 136, 180);
}
button.secondary {
  background-color: white;
  color: inherit;
}
button.secondary:hover:not(:disabled) {
  background-color: whitesmoke;
}
button.primary:disabled,
button.secondary:disabled {
  cursor: not-allowed;
  background-color: lightgrey;
  color: white;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0.05rem;
  border-radius: 0.3rem;
  padding: 0.75em;
  font-size: inherit;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.emoji {
  font-style: normal;
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times,
    Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}

.panel {
  background-color: white;
  border-radius: 4px;
  padding: 1em;
}

.border {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 4px;
}

.shadow {
  box-shadow: 3px 3px 8px -6px rgba(50, 50, 50, 1);
}

.hidden {
  visibility: hidden;
  position: absolute;
}
