<script>
  import SignInForm from "./_components/SignInForm.svelte";

  let pending = false;
  let complete = false;
  let error = false;

  async function handleSignIn(event) {
    const { email, password } = event.detail;

    pending = true;

    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/sign_in`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email,
          password
        }),
        credentials: "include"
      }
    );

    pending = false;

    if (response.ok) {
      complete = true;
      error = false;
      window.location.href = "/";
    } else {
      complete = false;
      error = true;
    }
  }
</script>

<style>
  .form {
    max-width: 20em;
  }
</style>

<svelte:head>
  <title>Sign in - Gamesite 6</title>
</svelte:head>

<div class="form panel shadow">
  <h1>Sign in</h1>
  <SignInForm on:completion={handleSignIn} disabled={pending} />
  {#if !pending && error}
    <p>Sign in failed!</p>
  {/if}
  <p>
    <a href="/forgot-password/">Forgot password?</a>
  </p>
</div>
