<style>
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .game {
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    overflow: auto;
    flex: 5 5;
    min-width: 32em;
  }

  aside {
    height: 100%;
    min-width: 20em;
    flex: 1 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 49% 1fr;
    grid-row-gap: 0.5em;
  }
</style>

<div class="wrapper">
  <div class="game">
    <slot />
  </div>

  <aside>

    <slot name="reference" />

    <slot name="chat" />

  </aside>
</div>
