<script>
  import Avatar from "../Avatar.svelte";
  import Username from "../Username.svelte";

  export let userId;
  export let thinking = false;
  export let speaking = false;
</script>

<style>
  .wrapper {
    position: relative;
    padding: 1em;
    background-color: white;
    margin-top: 1em;
  }
  .avatar {
    position: absolute;
    font-size: 4em;
    top: -0.25em;
  }
  .username {
    margin-left: 5em;
    font-weight: 500;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .content {
    margin-top: 1em;
  }

  .gear {
    position: absolute;
    top: -1.8em;
    left: 0.2em;
    height: 2em;
    width: 2em;
    animation: spin 4s linear infinite;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .speech {
    position: absolute;
    top: -1.5em;
    left: -2em;
    right: -2em;
    transform: translateY(-100%);
    font-size: 0.9em;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
  }
  .speech:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 7em;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.5em;
    margin-bottom: -1em;
  }
</style>

<div class="wrapper border shadow">

  <div class="avatar">
    <Avatar {userId} />
  </div>
  <div class="username">
    <Username {userId} />
  </div>

  <div class="content">
    <slot />
  </div>

  {#if thinking}
    <img class="gear" alt="Spinning gear" src="gear.png" />
  {/if}

  {#if speaking}
    <div class="speech shadow">
      <slot name="speech" />
    </div>
  {/if}
</div>
