<script>
  import { createEventDispatcher } from "svelte";

  export let disabled = false;

  const dispatch = createEventDispatcher();

  let email = "";

  function handleSubmit() {
    dispatch("completion", {
      email
    });
  }
</script>

<style>
  form {
    display: grid;
    grid-row-gap: 0.5em;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  button {
    margin-top: 0.5em;
  }
</style>

<form on:submit|preventDefault={handleSubmit}>
  <div>
    <label for="email">Email</label>
    <input
      required
      id="email"
      type="email"
      bind:value={email}
      readonly={disabled} />
  </div>

  <button class="primary" {disabled}>Register</button>

</form>
