<script>
  import { getUserData } from "../stores";

  export let userId;
  export let inline = false;
</script>

<style>
  img {
    display: block;
    height: 1em;
    width: 1em;
    border-radius: 0.125em;
  }
  .inline {
    display: inline-block;
    transform: scale(1.5) translateY(0.15em);
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
</style>

{#await getUserData(userId)}
  <img
    class="avatar-img"
    class:inline
    src="https://api.adorable.io/avatars/64/{userId}"
    alt={null}
    role="presentation" />
{:then userData}
  <img
    class="avatar-img"
    class:inline
    src="https://api.adorable.io/avatars/64/{userId}"
    title={userData.name}
    alt={userData.name} />
{/await}
