<script>
  import { getUserData } from "../stores";
  import { formatRelative } from "date-fns";

  export let userId;
  export let text;
  export let time;
</script>

<style>
  .container {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 1.5rem 1fr;
    column-gap: 0.5rem;
  }
  .avatar-img {
    height: 48px;
    border-radius: 12.5%;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    font-weight: bold;
  }
  .time {
    margin-left: 0.5rem;
    color: grey;
  }
  .text {
    grid-column-start: 2;
    display: grid;
    row-gap: 0.1rem;
  }
</style>

<div class="container">

  <img
    class="avatar-img"
    src="https://api.adorable.io/avatars/64/{userId}"
    alt=""
    role="presentation" />

  {#await getUserData(userId)}
    <div class="heading">
      <span class="name">...</span>
      <span class="time">{formatRelative(time, new Date())}</span>
    </div>
  {:then userData}
    <div class="heading">
      <span class="name">{userData.name}</span>
      <span class="time">{formatRelative(time, new Date())}</span>
    </div>
  {:catch err}
    <code>{err}</code>
  {/await}

  {#if Array.isArray(text)}
    <div class="text">
      {#each text as line}
        <div>{line}</div>
      {/each}
    </div>
  {:else}
    <div class="text">{text}</div>
  {/if}
</div>
