<script>
  import Avatar from "./Avatar.svelte";
  import EmptyAvatar from "./EmptyAvatar.svelte";
  import { maxPlayers } from "./games/playerCounts";
  export let game;

  function gameTypeName(gameType) {
    switch (gameType) {
      case "love-letter":
        return "Love Letter";
      case "fox-in-the-forest":
        return "The Fox in the Forest";
      case "no-thanks":
        return "No Thanks!";
      case "shobu":
        return "Shōbu";
      case "skull":
        return "Skull";
      case "the-resistance":
        return "The Resistance";
      case "tichu":
        return "Tichu";
    }
  }

  $: availableSeats =
    maxPlayers(game.data.game_type, game.settings) -
    game.data.players.length -
    1;
</script>

<style>
  .game-id {
    color: gray;
  }
</style>

<div>
  {gameTypeName(game.data.game_type)}
  <small class="game-id">#{game.data.id}</small>
</div>
<div>
  <Avatar inline userId={game.data.host} />
  {#each game.data.players as userId}
    <Avatar inline {userId} />
  {/each}
  {#if game.data.status === 'NOT_STARTED'}
    {#each Array(availableSeats) as _}
      <EmptyAvatar inline />
    {/each}
  {/if}
</div>
