<script>
  import GameListItem from "./GameListItem.svelte";
  export let games;
</script>

<style>
  ul {
    display: grid;
    row-gap: 1em;
    list-style: none;
    padding: 0;
  }
  a {
    display: block;
    padding: 1em;
    text-decoration: inherit;
  }
</style>

{#if games.length > 0}
  <ul>
    {#each games as game}
      <li>
        <a
          class="border"
          href="/games/{game.data.game_type}/?id={game.data.id}">
          <GameListItem {game} />
        </a>
      </li>
    {/each}
  </ul>
{:else}
  <div>No games available</div>
{/if}
