<script>
  import Avatar from "./Avatar.svelte";
  import Username from "./Username.svelte";

  export let userId;
  export let suffix = "";
</script>

<style>
  .wrapper {
    white-space: nowrap;
  }
  .username {
    font-weight: 500;
  }
</style>

<span class="wrapper">
  <Avatar inline {userId} />
  <span class="username">
    <Username {userId} {suffix} />
  </span>
</span>
