<script>
  import { getUserStore } from "../stores";
  import InlineUser from "./InlineUser";

  let user = getUserStore();

  export let segment;

  async function handleSignOutClick() {
    await fetch(`${API_TLS ? "https" : "http"}://${API_HOST}/api/sign_out`, {
      credentials: "include"
    });
    window.location.href = "/";
  }
</script>

<style>
  nav {
    border-bottom: 1px solid rgba(255, 62, 0, 0.1);
    font-weight: 300;
    padding: 0 1em;
  }

  .logo {
    display: inline-block;
    font-weight: 500;
  }
  .logo > span {
    vertical-align: middle;
  }
  .logo > img {
    height: 2em;
    vertical-align: middle;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 0.25em;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0.5em;
  }

  .selected {
    position: relative;
    display: inline-block;
  }

  .selected::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 2px;
    background-color: #e62c00;
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
  }
</style>

<nav>
  <a href="/" class="logo">
    <span>Gamesite</span>
    <img src="gs6-logo.svg" alt="6" />
  </a>
  <ul>
    <li class:selected={segment === undefined}>
      <a href="/">play</a>
    </li>

    <li class:selected={segment === 'about'}>
      <a href="/about/">about</a>
    </li>

    <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
    <li class:selected={segment === 'blog'}>
      <a rel="prefetch" href="/blog/">blog</a>
    </li>

    {#if $user}
      <li>
        <InlineUser userId={$user.id} />
      </li>
      <li>
        <button class="link" type="button" on:click={handleSignOutClick}>
          sign out
        </button>
      </li>
    {:else}
      <li class:selected={segment === 'register'}>
        <a href="/register/">register</a>
      </li>
      <li class:selected={segment === 'sign-in'}>
        <a href="/sign-in/">sign in</a>
      </li>
    {/if}

  </ul>
</nav>
