<script>
  import InlineUser from "./InlineUser.svelte";
  import EmptyAvatar from "./EmptyAvatar.svelte";
  import { maxPlayers } from "./games/playerCounts";

  export let data;
  export let settings;

  $: availableSeats =
    maxPlayers(data.game_type, settings) - data.players.length - 1;
</script>

<style>
  ul > li {
    margin: 0.5em 0;
  }
</style>

<section>
  <strong>Players</strong>
  <ul>
    <li>
      <InlineUser userId={data.host} />
      (host)
    </li>
    {#each data.players as userId}
      <li>
        <InlineUser {userId} />
      </li>
    {/each}
    {#each Array(availableSeats) as _}
      <li>
        <EmptyAvatar inline />
        (Available seat)
      </li>
    {/each}
  </ul>
</section>
