<script>
  import { getUserData } from "../stores";

  export let userId;
  export let suffix = "";
</script>

{#await getUserData(userId)}
  ...
{:then userData}
  {userData.name}{suffix}
{:catch err}
  <code>{err}</code>
{/await}
