<script>
  import RegisterInitForm from "./_components/RegisterInitForm.svelte";

  let pending = false;
  let completed = undefined;

  async function handleRegister(event) {
    pending = true;

    const { email } = event.detail;
    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/register`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email
        }),
        credentials: "include"
      }
    );

    if (response.ok) {
      completed = { email };
    }
    pending = false;
  }
</script>

<style>
  .form {
    max-width: 20em;
  }
</style>

<svelte:head>
  <title>Register - Gamesite 6</title>
</svelte:head>

<div class="form panel shadow">
  <h1>Register</h1>
  {#if completed}
    <p>
      An email has been sent to
      <strong>{completed.email}</strong>
      with instructions on how to complete the registration.
    </p>
  {:else}
    <RegisterInitForm on:completion={handleRegister} disabled={pending} />
  {/if}
</div>
