<script>
  import { createEventDispatcher } from "svelte";

  export let disabled = false;

  const dispatch = createEventDispatcher();

  let email = "";
  let password = "";

  function isValid() {
    return email.trim().length > 0 && password.trim().length > 0;
  }

  function handleSubmit() {
    if (isValid()) {
      dispatch("completion", {
        email,
        password
      });
    }
  }
</script>

<style>
  form {
    display: grid;
    grid-row-gap: 0.5em;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  button {
    margin-top: 0.5em;
  }
</style>

<form on:submit|preventDefault={handleSubmit}>
  <div>
    <label for="email">Email or username</label>
    <input
      required
      id="email"
      type="text"
      bind:value={email}
      readonly={disabled} />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      required
      id="password"
      type="password"
      bind:value={password}
      readonly={disabled} />
  </div>

  <button class="primary" {disabled}>Sign in</button>

</form>
