<script>
  import Stone from "./Stone.svelte";

  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let dark = false;
  export let stones;
  export let activeSquare;
  export let disabled = false;
  export let passiveMove;
  export let flipped;

  let squares = [0, 1, 2, 3].flatMap(y => [0, 1, 2, 3].map(x => `${x},${y}`));

  let sortedStones;
  $: {
    sortedStones = Object.entries(stones);
    sortedStones.sort(([squareA, stoneA], [squareB, stoneB]) => {
      if (stoneA > stoneB) {
        return 1;
      } else if (stoneA < stoneB) {
        return -1;
      } else {
        return 0;
      }
    });
  }

  function gridElementStyle(square) {
    let [x, y] = square.split(",");
    x = parseInt(x);
    y = parseInt(y);

    return `grid-row-start: ${y + 1}; grid-row-end: ${y +
      2}; grid-column-start: ${x + 1}; grid-column-end: ${x + 2}`;
  }

  function stoneStyle(square) {
    let [x, y] = square.split(",");
    x = parseInt(x);
    y = parseInt(y);

    let outOfBounds = x < 0 || x > 3 || y < 0 || y > 3;

    return `left: ${25 * x}%; top: ${25 * y}%; ${
      outOfBounds ? "visibility: hidden; opacity: 0;" : ""
    }`;
  }

  function handleSquareClick(square) {
    dispatch("click:square", square);
  }
  function handleStoneClick(square, color) {
    dispatch("click:stone", square);
  }
</script>

<style>
  .board {
    position: relative;
    filter: drop-shadow(3px 3px 5px #0007);
  }
  .flipped.board {
    filter: drop-shadow(-3px -3px 5px #0007);
  }

  .inner {
    box-sizing: border-box;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    background-color: #dbb574;
    border-radius: 1%;
  }

  .dark .inner {
    background-color: rgb(171, 126, 72);
  }

  .square {
    background-color: #f3daab;
    margin: 3%;
    border-radius: 3%;
  }
  .square-inner {
    padding-bottom: 94%;
  }
  .square.active > .square-inner {
    background-color: rgba(79, 194, 69, 0.5);
  }
  button:focus {
    outline: none;
  }

  .board.active button:hover > * {
    background-color: rgba(79, 194, 69, 0.5);
  }
  .stone-inner {
    box-sizing: border-box;
    width: 94%;
    padding: 12.5%;
  }
  .stone {
    position: absolute;
    width: 25%;
    transition: top 0.25s, left 0.25s, visibility 0.25s, opacity 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flipped .stone {
    transform: rotate(180deg);
  }
  button {
    text-align: inherit;
    line-height: inherit;
    font-size: inherit;
    background-color: transparent;

    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .dark .square {
    background-color: rgb(212, 165, 110);
  }
</style>

<div class="board" class:flipped class:dark class:active={activeSquare}>

  <div class="inner">
    {#each squares as square}
      <button
        {disabled}
        class="square"
        class:active={(activeSquare && square === activeSquare) || (passiveMove && (passiveMove.from === square || passiveMove.to === square))}
        on:click={() => handleSquareClick(square)}
        style={gridElementStyle(square)}>
        <div class="square-inner" />
      </button>
    {/each}

    {#each sortedStones as [square, stone] (JSON.stringify(stone))}
      <button
        {disabled}
        class="stone"
        on:click={() => handleStoneClick(square, stone[0])}
        style={stoneStyle(square)}>
        <div class="stone-inner">
          <Stone color={stone[0]} />
        </div>
      </button>
    {/each}
  </div>
</div>
