<script>
  import InProgress from "../InProgress.svelte";
  import PlayerBox from "../PlayerBox.svelte";
  import { performAction } from "../../../stores";
  import Board from "./Board.svelte";
  import { isActing } from "./actionUtils";
  import InlineUser from "../../InlineUser.svelte";

  export let userId;
  export let settings;
  export let state;
  export let game;

  let _settings = settings;

  let playerColor;
  $: if (state.players.black.id === userId) {
    playerColor = "b";
  } else if (state.players.white.id === userId) {
    playerColor = "w";
  } else {
    playerColor = undefined;
  }

  let activeSquare;

  function handleStoneClick(board, square) {
    if (
      activeSquare &&
      activeSquare.board === board &&
      activeSquare.square === square
    ) {
      activeSquare = undefined;
    } else {
      activeSquare = { board, square };
    }

    if (state.phase.aggressive && isActing(state.phase, playerColor)) {
      performAction(game.id, game.game_type, {
        aggressive: {
          board,
          square
        }
      });
      activeSquare = undefined;
    }

    console.log(board, square);
  }

  function handleSquareClick(board, square) {
    if (activeSquare && isActing(state.phase, playerColor)) {
      if (state.phase.passive) {
        performAction(game.id, game.game_type, {
          passive: {
            board,
            from: activeSquare.square,
            to: square
          }
        });
      }
    }

    activeSquare = undefined;

    console.log(board, square);
  }

  function handleUndo() {
    performAction(game.id, game.game_type, "undoPassive");
  }

  let flipped;
  $: {
    flipped = playerColor === "w";
  }

  function handleFlip() {
    flipped = !flipped;
  }
</script>

<style>
  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s;
  }
  .wrapper.flipped {
    transform: rotate(180deg);
  }

  .player {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;

    transition: transform 0.5s;
  }

  .flipped .player {
    transform: rotate(-180deg);
  }

  .boards {
    position: relative;
    width: 75%;
    min-width: 25em;
    max-width: 40em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .boards > :global(*) {
    margin: 2.5%;
  }

  button.flip {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 1.5em), -100%);
  }

  .undo {
    position: absolute;
    top: 50%;
    transform: translate(calc(100% + 1em), -50%);
    right: 0;
  }

  .summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
  }
  .flipped .summary {
    transform: translate(-50%, -50%) rotate(-180deg);
  }

  .reference {
    height: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    background-color: linen;
  }
  .reference li {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    list-style: disc;
  }
</style>

<InProgress>
  <div class="wrapper" class:flipped>
    <div class="player">
      <PlayerBox
        userId={state.players.white.id}
        thinking={isActing(state.phase, 'w')}>
        <div class="emoji">⚪</div>
        {#if playerColor === 'w' && state.phase.aggressive && isActing(state.phase, playerColor)}
          <button class="undo secondary" on:click={handleUndo}>Undo</button>
        {/if}
      </PlayerBox>
    </div>
    <div class="boards">
      <button on:click={handleFlip} class="flip small secondary">
        {#if flipped}↺{:else}↻{/if}
      </button>
      {#each state.boards as stones, idx}
        <Board
          {stones}
          {flipped}
          dark={idx % 2 == 0}
          activeSquare={activeSquare && activeSquare.board === idx && activeSquare.square}
          passiveMove={state.phase.aggressive && state.phase.aggressive.passive.board === idx && state.phase.aggressive.passive}
          disabled={!isActing(state.phase, playerColor) || (state.phase.aggressive && state.phase.aggressive.passive.board % 2 === idx % 2)}
          on:click:square={event => handleSquareClick(idx, event.detail)}
          on:click:stone={event => handleStoneClick(idx, event.detail)} />
      {/each}
    </div>
    <div class="player">
      <PlayerBox
        userId={state.players.black.id}
        thinking={isActing(state.phase, 'b')}>
        <div class="emoji">⚫</div>
        {#if playerColor === 'b' && state.phase.aggressive && isActing(state.phase, playerColor)}
          <button class="undo secondary" on:click={handleUndo}>Undo</button>
        {/if}
      </PlayerBox>
    </div>

    {#if state.phase.gameComplete}
      <div class="summary panel shadow">
        <InlineUser userId={state.phase.gameComplete.winner} />
        wins!
      </div>
    {/if}

  </div>

  <div slot="reference">
    <div class="reference panel border shadow">
      <div>
        <h3>Your turn is in two parts</h3>
        <h3>Passive move:</h3>
        <ul>
          <li>
            Must be on one of
            <em>your</em>
            Homeboards.
          </li>
          <li>Move in any unblocked direction, up to two spaces.</li>
          <li>May not push another stone.</li>
        </ul>

        <h3>Aggressive move:</h3>
        <ul>
          <li>Must be on a board of the opposite color of the Passive move.</li>
          <li>
            Must be a matching move, in the same direction and number of spaces
            as the Passive move.
          </li>
          <li>
            Can push an opponent's stone, but cannot push more than one stone.
          </li>
          <li>
            A stone can be pushed off any of the four sides of the game board.
          </li>
        </ul>

        <strong>
          Remove all opponent's stones from just one board to
          <em>win!</em>
        </strong>
      </div>
    </div>
  </div>

  <div slot="chat">
    <slot name="chat" />
  </div>

</InProgress>
