<script>
  export let color;
</script>

<style>
  img {
    display: block;
    filter: drop-shadow(3px 3px 3px #0007);
  }
</style>

{#if color === 'w'}
  <img src="white_stone.svg" alt="White stone" />
{:else}
  <img src="black_stone.svg" alt="Black stone" />
{/if}
