<script>
  import { onMount } from "svelte";
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame("shobu", {});
    waiting = false;

    if (game) {
      goto(`/games/shobu/?id=${game.id}`);
    }
  }
</script>

<svelte:head>
  <title>Create game - Shōbu - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <button class="primary" disabled={waiting}>Create game</button>
</form>
