<script>
  import NoThanks from "../../../components/games/no-thanks/";
  import { stores } from "@sapper/app";
  import { getGameStore, getUserStore, performAction } from "../../../stores";
  import { writable } from "svelte/store";
  import GameChat from "../_GameChat";

  let { page } = stores();
  $: gameId = parseInt($page.query.id);
  const gameType = "no-thanks";

  let user = getUserStore();

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);

  $: game = $gameStore && $gameStore.data;
  $: settings = $gameStore && $gameStore.settings;
  $: state = $gameStore && $gameStore.state;
</script>

<style>
  .chat {
    height: 100%;
  }
</style>

<svelte:head>
  <title>No Thanks! #{gameId} - Gamesite 6</title>
</svelte:head>

{#if game && settings && state}
  <NoThanks
    userId={$user && $user.id}
    {game}
    {settings}
    {state}
    on:action={(event) => {
      let action = event.detail;
      performAction(gameId, gameType, action);
    }}>

    <div class="chat" slot="chat">
      <GameChat {gameType} {gameId} />
    </div>
  </NoThanks>
{/if}
