<style>
  div {
    height: 1.5em;
    width: 1em;
    display: inline-block;
    position: relative;
    transform: scale(1.2) translateY(0.3em);
  }
  span {
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<div title="chip(s)">
  <span class="emoji">🔴</span>
</div>
