<div class="hidden">
  <a href="/404/">.</a>
  <a href="/reset-password/">.</a>
  <a href="/verify/">.</a>

  <a href="/games/love-letter/">.</a>
  <a href="/games/fox-in-the-forest/">.</a>
  <a href="/games/no-thanks/">.</a>
  <a href="/games/shobu/">.</a>
  <a href="/games/skull/">.</a>
  <a href="/games/the-resistance">.</a>
  <a href="/games/tichu">.</a>
  <a href="/games/hanabi">.</a>

</div>
