<script>
  import Nav from "../components/Nav.svelte";

  export let segment;
</script>

<style>
  .nav {
    overflow-x: auto;
    white-space: nowrap;
  }

  main {
    position: relative;
    box-sizing: border-box;
    margin: 0.5em;
    height: calc(100vh - 4.6em);
  }
</style>

<svelte:head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-173041773-1">

  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-173041773-1");
  </script>
</svelte:head>

<div class="nav">
  <Nav {segment} />
</div>

<main>
  <slot />
</main>
