<script>
  import HiddenLinks from "./_hidden-links.svelte";
</script>

<svelte:head>
  <title>About - Gamesite 6</title>
</svelte:head>

<h1>About this site</h1>

<p>This is the 'about' page. There's not much here.</p>

<HiddenLinks />
