<script>
  import GameList from "../components/GameList.svelte";
  import { getLobbyStore, getUserStore } from "../stores";

  let loveLetterLobby = getLobbyStore("love-letter");
  let foxInTheForestLobby = getLobbyStore("fox-in-the-forest");
  let noThanksLobby = getLobbyStore("no-thanks");
  let shobuLobby = getLobbyStore("shobu");
  let skullLobby = getLobbyStore("skull");
  let theResistanceLobby = getLobbyStore("the-resistance");
  let tichuLobby = getLobbyStore("tichu");
  let hanabiLobby = getLobbyStore("hanabi");

  let user = getUserStore();

  $: userGames = $user && $user.games;
</script>

<style>
  .lists {
    display: flex;
    flex-wrap: wrap;
  }
  .lists > * {
    flex-grow: 1;
    width: 45%;
    box-sizing: border-box;
    max-width: 25em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .lobbies > * {
    margin-bottom: 1em;
  }
</style>

<svelte:head>
  <title>Gamesite 6</title>
</svelte:head>

<div class="lists">
  <div class="lobbies">
    <div class="panel shadow">
      <h2>Love Letter</h2>
      <a href="games/love-letter/create/">Create new game</a>
      <GameList games={$loveLetterLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>The Fox in the Forest</h2>
      <a href="games/fox-in-the-forest/create/">Create new game</a>
      <GameList games={$foxInTheForestLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>No Thanks!</h2>
      <a href="games/no-thanks/create/">Create new game</a>
      <GameList games={$noThanksLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>Shōbu</h2>
      <a href="games/shobu/create/">Create new game</a>
      <GameList games={$shobuLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>Skull</h2>
      <a href="games/skull/create/">Create new game</a>
      <GameList games={$skullLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>The Resistance</h2>
      <a href="games/the-resistance/create/">Create new game</a>
      <GameList games={$theResistanceLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>Tichu</h2>
      <a href="games/tichu/create/">Create new game</a>
      <GameList games={$tichuLobby.games} />
    </div>

    <div class="panel shadow">
      <h2>Hanabi</h2>
      <a href="games/hanabi/create/">Create new game</a>
      <GameList games={$hanabiLobby.games} />
    </div>
  </div>

  {#if userGames}
    <div class="panel shadow">
      <h2>My games</h2>
      <GameList games={Object.values(userGames)} />
    </div>
  {/if}
</div>
