<script>
  import * as users from "./users";

  export let userid;
  export let inline = false;

  let userStore = users.store();

  $: user = $userStore[userid];
</script>

<style>
  img {
    display: block;
    height: 1em;
    width: 1em;
    border-radius: 0.125em;
  }
  .inline {
    display: inline-block;
    transform: scale(1.5) translateY(0.15em);
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
</style>

<svelte:options tag="gs6-avatar" />

{#if userid !== undefined}
  {#if user}
    <img
      class="avatar-img"
      class:inline
      src="https://api.adorable.io/avatars/64/{userid}"
      title={user.name}
      alt={user.name} />
  {:else}
    {#await users.fetch(userid)}
      <img
        class="avatar-img"
        class:inline
        src="https://api.adorable.io/avatars/64/{userid}"
        alt={null}
        role="presentation" />
    {:then userData}
      <img
        class="avatar-img"
        class:inline
        src="https://api.adorable.io/avatars/64/{userid}"
        title={userData.name}
        alt={userData.name} />
    {/await}
  {/if}
{/if}
