<script>
  import { store, fetch } from "./users";

  export let userid;
  export let suffix = "";

  let userStore = store();

  $: user = $userStore[userid];
</script>

<style>
  .username {
    font-style: normal;
  }
</style>

<svelte:options tag="gs6-username" />

{#if userid !== undefined}
  {#if user}
    <span class="username">{user.name}</span>
    {suffix}
  {:else}
    {#await fetch(userid)}
      ...
    {:then userData}
      {userData.name}{suffix}
    {:catch err}
      <code>{err}</code>
    {/await}
  {/if}
{/if}
