<script>
  export let userid;
  export let suffix = "";
</script>

<style>
  .wrapper {
    white-space: nowrap;
  }
  .username {
    font-weight: 500;
  }
</style>

<svelte:options tag="gs6-user" />

<span class="wrapper">
  <gs6-avatar inline={true} {userid} />
  <span class="username">
    <gs6-username {userid} {suffix} />
  </span>
</span>
