<script>
  import NotStarted from "./_not-started.svelte";
  import { stores } from "@sapper/app";
  import { getGameStore } from "../../stores";
  import { writable } from "svelte/store";

  export let segment;
  $: gameType = segment;

  let { page } = stores();
  $: gameId = parseInt($page.query.id);

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);
  $: game = $gameStore && $gameStore.data;
</script>

{#if gameId && !game}
  <!-- TODO show loading spinner? -->
{:else if game && game.status === 'NOT_STARTED'}
  <NotStarted {gameId} {gameType} />
{:else}
  <slot />
{/if}
