<script>
  import Chat from "../../components/Chat.svelte";
  import NotStartedGameDetails from "../../components/NotStartedGameDetails.svelte";
  import { stores } from "@sapper/app";
  import {
    getGameStore,
    getUserStore,
    joinGame,
    leaveGame,
    startGame,
    performAction
  } from "../../stores";
  import GameChat from "./_GameChat.svelte";

  export let gameId;
  export let gameType;

  let gameStore = getGameStore(gameId, gameType);
  $: game = $gameStore && $gameStore.data;

  let room = `game#${gameId}`;

  $: user = getUserStore();

  $: settings = $gameStore && $gameStore.settings;

  $: canJoin =
    $user && game && game.host !== $user.id && !game.players.includes($user.id);

  $: canLeave = $user && game && game.players.includes($user.id);

  $: showStart = $user && game && game.host === $user.id;
  $: canStart = showStart && game.players.length > 0;
</script>

<style>
  .not-started {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30em;
  }
  .not-started > * {
    flex-grow: 1;
    max-width: 30em;
    min-width: 20em;
    margin-bottom: 1em;
  }
  .chat {
    height: 100%;
  }
</style>

<div class="not-started">
  <div>
    {#if game && settings}
      <NotStartedGameDetails data={game} {settings} />
    {/if}

    {#if canJoin}
      <button class="primary" on:click={() => joinGame(gameId, game.game_type)}>
        Join game
      </button>
    {:else if canLeave}
      <button
        class="secondary"
        on:click={() => leaveGame(gameId, game.game_type)}>
        Leave game
      </button>
    {/if}

    {#if showStart}
      <button
        class="primary"
        on:click={() => startGame(gameId, game.game_type)}
        disabled={!canStart}>
        Start game
      </button>
    {/if}
  </div>
  <div class="chat">
    <GameChat {gameType} {gameId} />
  </div>
</div>
